*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
  padding: 1.5em;
}

.my-form{
  width: 100%;
  max-width: 20em;
  box-shadow: 0 0.1em 0.5em rgba(0,0,0,0.3);
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.6em;
}

.task{
  width: 100%;
  padding: 0.5em;
  border: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.task::placeholder{
  font-size: 1rem;
  color: lightgrey;
}

.list{
  width: 100%;
}

.list li{
  color: hsl(225, 100%, 94%);
  padding:  0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid;
  border-color: #fff;
  position: relative;
}

.list li .fa-check-square{
  color: hsl(225, 100%, 94%);
  cursor: pointer;
  position: absolute;
  right: 2.2em;
  top: 50%;
  transform: translateY(-50%);
}

.list li .fa-trash{
  color: hsl(333, 80%, 67%);
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.list li.checked{
  color: grey;
  font-weight: normal;
  text-decoration: line-through;
}

.list li.checked .fa-check-square{
  color: gray;
}

.date{
  color: #fff;
  padding: 0.5em 0;
  width: 100%;
  max-width: 20em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5em 0.5em 0 0;
}
